project = "REPLACE_ME"
region = "us-west2"
cluster_name = "tap-run"
cluster_version_prefix = "1.24"
vpc_network_name = "tap-demo-net"
vpc_subnetwork_name = "prv-10-0-101-0"
master_ipv4_cidr_block_28 = "10.1.0.48/28"
enable_private_endpoint = true
master_authorized_networks_cidr_list = ["10.0.91.0/24"]
