# Environment variables used with gitops/tanzu/ingress/oracle

export APP_NAME=tanzu-ingress

## .init/ingress-install-config.tpl
export DOMAIN=your.domain

## .init/ingress-install-secrets.tpl
## Credentials to a Oracle Cloud account with appropriate read-write permissions to Cloud DNS
export ORACLE_REGION=us-phoenix-1
export ORACLE_TENANCY_ID="ocid1.tenancy.oc1..aaaaaaaa"
export ORACLE_USER_ID="ocid1.user.oc1..aaaaaaaapa"
export ORACLE_FINGERPRINT="84:b5:09:76:52:06:4d:a2:05:71:9b:49:81:cc:e0:e0"
export ORACLE_KEY_FILE_CONTENTS=$(cat $HOME/.oci/oci_api_key.pem | base64 -w 0)
## Oracle Cloud compartment
export ORACLE_COMPARTMENT_ID="ocid1.compartment.oc1..aaaaaaaa"
### See /scripts/gh-set-secrets.sh to create these
### Your Git private SSH key and known hosts file contents, base64-encoded
export KEYNAME="gha-workflows-with-gitops-for-tanzu-application-platform"
export GIT_SSH_PRIVATE_KEY="$(cat $HOME/.ssh/$KEYNAME | base64 -w 0)"
export GIT_SSH_KNOWN_HOSTS="$(cat $HOME/.ssh/github_known_hosts | base64 -w 0)"
