eks_cluster_id = "tap-full"
vpc_id = "vpc-03c838074f2e13ea9"
desired_nodes = 3
kubernetes_version = "1.26"
ssh_key_name = "tanzu-workshop-tap-admin-key"
node_pool_instance_type = "m5a.xlarge"
provisioner_security_group_id = "sg-0ae75a42b1ef5fdac"
private_subnet_ids = "subnet-02232ecf0f8c88956,subnet-0bc2d5687330d99d6,subnet-05bfa711e1fdfdd2a"
public_subnet_ids = "subnet-0c16c2229c2f0f86d,subnet-03b0b6fe966b68267,subnet-05c552dd8f2b5f263"
