# Environment variables used with gitops/tanzu/ingress/aws

export APP_NAME=tanzu-ingress

## .init/ingress-install-config.tpl
export DOMAIN=your.domain

## .init/ingress-install-secrets.tpl
export EMAIL_ADDRESS=you@your.domain
### Credentials to AWS account with appropriate read-write permissions to a Route53 Hosted Zone
export AWS_ACCESS_KEY_ID=xxx
export AWS_SECRET_ACCESS_KEY=xxx
export AWS_ROUTE53_HOSTED_ZONE_ID=xxx
export AWS_REGION=us-west-2
### See /scripts/gh-set-secrets.sh to create these
### These are your credentials to the Git SCM provider (i.e., username and personal access token)
export GIT_USERNAME=you
export GIT_PERSONAL_ACCESS_TOKEN=xxx

# .tpl files in .install and .post-install
### A valid branch (typically "main")
export GIT_REF_NAME=main
